/* mendefinisikan style untuk elemen dengan id root */
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* mendefinisikan style untuk elemen dengan class logo */
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}


/* mendefinisikan animasi logo-spin yang akan dipakai pada elemen dengan class logo.  */
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

/* mendefinisikan style untuk elemen dengan class card */
.card {
  padding: 2em;
}

/* Style ini digunakan untuk mengatur warna teks dari elemen tersebut. */
.read-the-docs {
  color: #888;
}

/* digunakan untuk mengatur tampilan form yang digunakan untuk menambahkan post baru. */
.App-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* digunakan untuk mengatur tampilan post-post yang sudah ada. */
.App-post {
  border: 1px solid white;
  padding: 10px;
  margin-bottom: 10px;
}